@import "../../styles/_mixins";

.form {
    @include large() {
        flex: 0.7;

        &__container {
            display: flex;
        }

        &__section {
            vertical-align: top;
            flex: 0.5;
            margin-right: $spacing-small;
        }
    }

    &__fieldset {
        border: 2px dashed $color-4;
        border-radius: $spacing-small;
        padding: $spacing-large;
        margin-bottom: $spacing-medium;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: $spacing-small 0;

        label {
            flex: 0.7;
        }

        input {
            flex: 0.3;

            &.full {
                flex: 1 !important;
            }
        }

        &--padded-top {
            margin-top: $spacing-medium;
        }

        &--wide {
            input {
                flex: 0.3;
                text-align: center;
            }
        }
    }

    input[type=text],
    input[type=number] {
        border-radius: $spacing-small;
        border: none;
        padding: $spacing-small $spacing-medium;
    }

    input[type=submit] {
        display: block;
    }
}
