@import "../../styles/_mixins";

.info {
    &--opened {
        .info__content {
            display: block;
            background-color: $color-4;
            overflow-y: scroll;
        }
    }

    @include ideal() {
        flex: 0.3;
    }

    &__title {
        font-size: 100%;
        margin-top: 0;
    }

    &__toggle-button {

        @include roundButton();

        // toggle button is only visible on tablet size and below, to toggle info visibility

        @include ideal() {
            display: none !important;
        }
        position: fixed;
        top: $spacing-medium;
        right: $spacing-medium;
        margin-right: 0 !important;
        z-index: 3;
    }

    @include lessThanIdeal() {
        &__title {
            display: none;
        }

        // on tablets and below, the content isn't visible until its toggled
        &__content {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }

    &__container {
        @include scrollablePanel();
        padding: 0 $spacing-large $spacing-medium;
        background-color: $color-5;
        color: $color-text;

        ul {
            padding: 0 0 0 $spacing-medium;
        }

        li {
            margin-bottom: $spacing-small;
        }

        @include ideal() {
            border-bottom-right-radius: $spacing-medium;
        }

        @include lessThanIdeal() {
            height: 100%;
        }
    }
}
