@import "_variables";
@import "typography";

/* 1. responsive breakoff points */

// phones
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

// anything above phone resolution (e.g. tablet)
@mixin large {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

// anything above tablet resolution (e.g. laptop/desktop)
@mixin ideal {
    @media (min-width: #{$app-width}) {
        @content;
    }
}

// anything below the ideal resolution

@mixin lessThanIdeal {
    @media (max-width: #{$app-width}) {
        @content;
    }
}

/* 2. UX utilities */

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 3. base UI components */

@mixin button {
    @include customFont();
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $color-1;
    color: #000;
    font-size: 95%;
    border: 2px solid #333;
    border-radius: 7px;
    border: none;
    padding: $spacing-small $spacing-medium;
    margin-right: $spacing-small;
    box-sizing: border-box;

    &:hover {
        background-color: #FFF;
    }

    &:disabled {
        background-color: #333;
        color: #666;
        cursor: default;
    }
}

@mixin roundButton() {
    @include button();
    border-radius: 50%;
}

@mixin scrollablePanel( $optMargin: 0px ) {
    height: calc(100vh - 230px);
    overflow-y: auto;

    @media (max-height: #{$tablet-height}) {
        height: calc(410px - #{$optMargin});
    }
}
