@import "_variables";

/* 1. responsive breakoff points */

// phones
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

// anything above phone resolution (e.g. tablet/laptop/desktop)
@mixin large {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

/* 2. UX utilities */

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 3. base UI components */

@mixin button {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $color-1;
    color: #000;
    font-size: 95%;
    border: 2px solid #333;
    border-radius: 7px;
    border: none;
    padding: $spacing-small $spacing-medium;
    margin-right: $spacing-small;
    box-sizing: border-box;

    &:hover {
        background-color: #FFF;
    }

    &:disabled {
        background-color: #333;
        color: #666;
        cursor: default;
    }
}

.button {
    @include button();
}
