/* application variables */

$app-width: 960px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view

$spacing-xxsmall: 2px;
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;
$spacing-xxlarge: 112px;

$color-1: #666;
