/* application variables */

$app-width: 1200px;
$tablet-width: 990px; // tablet cut off point
$mobile-width: 685px; // the threshold below which we start to use the mobile view
$tablet-height: 640px; // cut off point for app height on tablet size

$spacing-xxsmall: 2px;
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;
$spacing-xxlarge: 112px;

$color-1: #F9C846; // Maize Crayola
$color-2: #302f4b; // Space cadet
$color-3: #8D909B; // Fuzzy Wuzzy
$color-4: #2D2D39; // Raisin black
$color-5: #545863; // Black Coral
$color-text: #A8AAB3;
$color-background: #383B42; // Onyx
