@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-VariableFont_wght.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@mixin titleFont() {
    font-family: "Alumni Sans", sans-serif;
}

@mixin customFont() {
    font-family: "Roboto Condensed", sans-serif;
}

h2, h3 {
    @include customFont();
}

p, li {
    font-size: 90%;
}

a {
    color: $color-1;
}
