@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');

@mixin titleFont() {
    font-family: 'Alumni Sans', sans-serif;
}

@mixin customFont() {
    font-family: 'Roboto Condensed', sans-serif;
}

h2, h3 {
    @include customFont();
}

p, li {
    font-size: 90%;
}

a {
    color: $color-1;
}
