@import "../../styles/_mixins";
@import "../../styles/typography";

.player {
    display: inline-block;

    &__transport-button {
        @include button();
        display: inline-block;

        @include large() {
            margin: 0;
        }
    }

    &__play-button {
        @include button();
        margin-right: $spacing-small;
    }

    &__position {
        @include customFont();
        display: inline-block;
        text-align: center;
        width: 60px;
        padding: $spacing-xsmall 0;
        background-color: $color-4;

        @include mobile() {
            display: none;
        }
    }
}
