@import "../../styles/_mixins";

.player {
    display: inline-block;

    button {
        display: inline-block;
    }

    .player__position {
        display: inline-block;
        text-align: center;
        width: 60px;
    }
}
