@import "../../styles/_mixins";
@import "../../styles/typography";

.player {
    display: inline-block;

    &__transport-button {
        display: inline-block;
        margin-right: 0 !important;
    }

    &__play-button,
    &__transport-button {
        @include button();
        padding: 6px $spacing-small;

        img {
            width: 22px;
            vertical-align: middle;
        }
    }

    &__position {
        @include customFont();
        display: inline-block;
        text-align: center;
        width: 60px;
        padding: $spacing-xsmall 0;
        background-color: $color-5;

        @include mobile() {
            display: none;
        }
    }
}
