@import "./styles/_mixins";
@import "./styles/typography";

$actionsHeight: 55px;

.app {
    height: 100%;
    max-height: 100vh;
    font-size: 16px;
    color: white;

    &__title {
        background-color: $color-4;
        color: $color-1;
        text-indent: $spacing-medium;
        padding: $spacing-large $spacing-medium;
        box-sizing: border-box;
        margin: 0;

        @include mobile() {
            padding: $spacing-small $spacing-large;
            font-size: 150%;
        }
    }

    &__wrapper {
        max-width: $app-width;
        height: 100%;
        margin: 0 auto;
    }

    &__container {
        padding-bottom: $actionsHeight;

        @include large() {
            display: flex;
            justify-content: center;
            margin-top: $spacing-large;
        }

        @include mobile() {
            padding: 0 $spacing-medium $actionsHeight;
            margin-top: $spacing-medium;
        }
    }

    &__actions {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: $actionsHeight;
        bottom: 0;
        border-top: 3px solid $color-1;
        background-color: $color-4;
        padding: $spacing-small $spacing-medium;
        box-sizing: border-box;

        &-container {
            max-width: $app-width;
            margin: 0 auto;

            @include mobile() {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &-button {
            @include button();
        }
    }
}
