@import "./styles/_mixins";
@import "./styles/typography";

$titleHeight: 66px;
$actionsHeight: 55px;
$headerHeight: #{$titleHeight + $actionsHeight};

.app {
    height: 100%;
    max-height: 100vh;
    font-size: 16px;
    color: white;

    &__header {
        position: fixed;
        width: 100%;
        height: $headerHeight;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $color-4;
        box-sizing: border-box;
    }

    &__title {
        max-width: $app-width;
        margin: 0 auto;
        padding: $spacing-small;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include lessThanIdeal() {
            justify-content: center;
        }

        &-logo {
            height: 50px;
        }

        &-text {
            color: #FFF;
            margin: 0 $spacing-medium 0 0;
            font-size: 125%;
        }
    }

    &__actions {
        height: $actionsHeight;
        border-bottom: 1px solid $color-5;
        background-color: $color-4;
        padding: $spacing-small $spacing-medium;
        box-sizing: border-box;

        &-container {
            max-width: $app-width;
            margin: 0 auto;

            @include lessThanIdeal() {
                text-align: center;

                .app__actions-descr {
                    display: none;
                }
            }

            @include ideal() {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-descr {
            color: $color-3;
        }

        &-ui {
            justify-content: center;
            display: flex;
            align-items: center;
        }

        &-button {
            @include button();
        }
    }

    &__wrapper {
        max-width: $app-width;
        height: 100%;
        margin: 0 auto;
        padding-top: $headerHeight;
    }

    &__container {
        @include large() {
            display: flex;
            justify-content: center;
            margin-top: $spacing-medium;
        }

        @include mobile() {
            padding: 0 $spacing-medium 0;
            margin-top: $spacing-medium;
        }
    }

    &__footer {
        text-align: center;
        color: $color-text;

        @include mobile() {
            padding: 0 $spacing-small $spacing-small;
        }
    }
}
